.candidate-page-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-grow: 1;
    margin-top: 120px;
}

.candidate-page-cards-container {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
}

.candidate-card-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.slider-key {
    min-width: 36%;
    padding: 3% 8px;
}

.candidate-details {
    flex-grow: 1;
}

.candidate-card-vote-button {
    flex-grow: 0;
}

.candidate-card-name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    font-family: sans-serif;
    padding-top: 5px;
}

.candidate-card-description {
    display: flex;
    justify-content: center;
    padding-top: 3px;
    font-style: italic;
}

.slider-value.Mui-disabled {
    color: cadetblue !important;
}

.candidate-page-voting-timeline {
    flex-grow: 0;
    padding-top: 20px;
}

.MuiSlider-markLabelActive,
.MuiSlider-markLabel {
    transform: rotate(45deg) !important;
    padding-top: 20px;
}

.candidates-page-container {
    display: flex;
    flex-direction: column;
    height: 85%;
}